body{
	display:flex ;
	background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/99/9/mRK1qN.jpg);
	min-height: 100vh;
	justify-content: center;
    align-content: center;
    align-items: center;
}

div{
	display: flex;
	align-content: center;
}


form{
	border: 1px solid black;
    border-width: 1px;
    display :inline-block;
    text-align: center;
    margin: 40px
}

h1{
	text-align: center;
}